/*FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root{
  --main-height: calc(100vh - 65px - 120px);
  --color-primary: #a27cb8;
  --color-accent: #c45819;
  --color-bg: #f1f3f4;
  --color-text: #212529;
}
.cart-icon{
  position: relative;
}

#contador-carrito {
  display: flex;
  position: absolute;
  background: rgb(214, 94, 94);
  height: 0px;
  width:0px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  top: -10px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
  transition: all ease-in-out .3s;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f1f3f4;
  color: var(--color-text);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
  display: flex;
  gap: 30px;
  align-items: center;
  height: 65px;
  background-color: var(--color-primary);
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 25px;

  nav {
    display: flex;
    width: 100%;
  }

  nav ul{
    display: flex;
    gap: 30px;
    width: 100%;
  }
}

main{
  min-height: var(--main-height);
}

body{
  margin-top: 65px; /*65 px para el fixed navbar*/
}

/* Logo */
.logo {
  font-size: 26px;
  font-weight: 100;
  width:350px;
  a{
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

/* nav-links */
.nav-link {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: color 0.2s;
}

.nav-link a:hover {
  color: rgb(35, 27, 39);
}

.linkCarrito{
  margin-left: auto;
}

/*index*/
.main-index {
  display: flex;
  flex-direction: column;
}

  .section-bienvenida{
    div img{
      display: flex;
      width: 100%;
      height: 500px;
      object-fit: contain;
    }
  }

  #section-destacados{
    padding: 20px 20px 80px 20px;
    h2{
      color: var(--color-text);
      font-weight: 300;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }

  .destacados {
    display: flex;
    gap: 20px;
    width: 100%;
  }

footer {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #54415f;
  color: white;
  align-items: center;
  font-weight: 100;
  font-size: small;
  gap: 15px;
}

/*CATALOGO PRODUCTOS*/
.main-productos {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 25px;
  gap: 25px;
}

#hero{
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 25px;
  padding: 15px;  

  select{
  margin-top: 15px;
  border: 1px solid var(--color-text);
  display: flex;
  width: 100%;
  padding: 5px;
  }
  
  label{
    margin-top: px;
    color: var(--color-text);
    font-weight: 300;
    font-size: medium;
  }
}

.titulo-catalogo{
    color: var(--color-text);
    font-size: large;
    margin-top: 25px;
  }

  button{
    align-self: center;
    width: max-content;
    padding: 8px;
    border: 1px var(--color-text) solid;
    color: var(--color-text);
    background-color: white;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }

  button:hover {
    background-color: #c45819;
    color: white;
    border: 1px #c45819 solid;
  }

#productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
}

.producto {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  width: 100%;
  transition: box-shadow ease-in-out 0.3s;

  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  .producto-detalles {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 190px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .nombre-producto {
    color: var(--color-text);
    font-size: medium;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .precio-producto {
    color: var(--color-text);
    font-size: x-large;
    font-weight: bold;
  }

  .descripcion-producto {
    color: var(--color-text);
    font-weight: 300;
    font-size: small;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .categoria-producto {
    color: var(--color-text);
    font-weight: 300;
    font-size: small;
  }

  .stock-producto {
    color: var(--color-text);
    font-weight: bold;
    font-size: small;
  }

   button{
    margin-top: 15px;
  }

}

.producto:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/*PRODUCTO INDIVIDUAL*/
#main-producto{
  display: flex;
  justify-content: center;
  align-items: center;
}

#detalle-producto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  .imagen{
    display: flex;
    justify-content: center;
    img{
      width: 70%;
      height: auto;
      object-fit: contain;
    }
  }
    .detalles{
      display: flex;
      flex-direction: column;
      gap: 30px;
    
      .disponibilidad{
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: max-content;
        color: var(--color-text);
        font-weight: 400;
        margin-bottom: 10px;
      }
      .hay-stock{
        background-color: #acdbb0;
      }
      .sin-stock{
        background-color: #eda3a3;
      }

      h4{
        font-size: 30px;
        color: var(--color-text);
        font-weight: 500;
      }

      .precio-producto {
      color: var(--color-text);
      font-size: 35px;
      font-weight: bold;
    }
    
    input{
      margin-top:15px;
      padding: 8px;
      border: 1px var(--color-text) solid;
      color: var(--color-text);
      border-radius: none;
    }
    
    .descripcion-producto{
      color: var(--color-text);
      font-weight: 300;
    }

    #boton-carrito:disabled{
      background-color: grey;
      border: 1px var(--color-text) solid;
      color: var(--color-text);
    }
  }
}

/* PAGINA CARRITO */
#seccion-carrito{
  display: flex;
  padding: 30px;
  justify-content: center;
  width: 100%;

}
.mi-compra{
  margin-right: 20px;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-top: 20px;

    li {
      padding: 10px;
      padding-right: 20px;
      background-color: white;
      

      div {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 2fr .5fr;

        img{
          object-fit: contain;
          height: 100px;
          width: 100px;
        }

        .nombre{
          display: flex;
          font-weight:700;
          padding-left: 10px;
        }

        .cantidad{
          display: flex;
          justify-self: center;
          color: #5b545f;
        }

        .precios{
          display: flex;
          flex-direction: column;
          color: #5b545f;
        }

        .precios p {
          display: flex;
          flex-direction: row;
          color: #5b545f;
        }

        button{
          margin-left: auto;
        }
      }
    }
  }
}

.detalles-resumen{
  background-color: white;
  margin-right: 40px;
  padding: 20px;
  height: max-content;
  width: 35%;
  
  ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(204, 204, 204);
      padding-bottom: 5px;
    }

    .total {
      border-bottom: none;
    }

    .total p{
      color: var(--color-text);
      font-weight: 700;
    }
  }
}

/* carrito vacio */
.carrito-vacio{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  gap: 30px;
  
  a{
    align-content: center;
    text-decoration: none;
    padding: 12px;
    border: 1px var(--color-text) solid;
    color: var(--color-text);
    background-color: white;
    transition: all ease-in-out 0.3s;
  }
  a:hover {
    background-color: #c45819;
    color: white;
    border: 1px #c45819 solid;
  }
} 

.img-carrito-vacio{
    width: 50%;
    height: auto;
    object-fit: contain;
  }

